#control {
  margin: 10px;
  height: 70px;
  width: 90px
}

.MuiPaper-root {
  text-align: center;
  margin: 3px;
  
}

.MuiCard-root {
  text-align: left;
  margin: 5px;
  
}

#select {
  width: 100px ;
  margin: 5px
}

#graph{
  padding-left: 30px;
  margin: 15px
}

#record{
  margin: 8px;
}

#tare{
  margin: 10px;
  height: 70px
}

#infobar{
  margin-bottom: 15px;
}